#booking {


  .pick-category-wrapper {
    background: #f3f8fb;
    padding: 15px;


    #add-category-picker {
      cursor: pointer;
      text-align: center;
      color: $main-color-light;

      &:after {
        content: '+';
        line-height: 0px;
        padding: 2px 7px;
        font-size: 16px;
        border: 1px solid;
        border-radius: 50%;
        margin-left: 10px;
      }

    }

    .pick-item {
      margin-bottom: 5px;
      position: relative;

      &:last-of-type {
        &:hover {
          .remove-category-item {
            opacity: 1;
          }
        }
      }

      .remove-category-item {
        width: 35px;
        height: 35px;
        @extend .display-flex;
        align-items: center;
        justify-content: center;
        background: #d7c1c0;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        right: -50px;
        opacity: 0;
        @include transition(opacity, 0.5s, ease);

        .fa {
          font-size: 20px;
          color: white;
        }
      }
    }
  }




}