#destination {
  min-height: 70vh;

  .list-wrapper {
    padding: 20px;
    background: $third-color;

    .main-list {
      list-style: none;
      padding: 0px;
      margin: 0px;

      .item {
        padding: 10px 5px;
        border-bottom: 1px solid #cacaca;
      }
    }

    .sub-list {
      padding: 5px 0px;
      padding-bottom: 0px;
      list-style: none;

      li {
        padding-bottom: 5px;

        a {
          color: $main-color;
          font-weight: 700;
        }

      }

    }


    .inline-link {
      @extend .display-flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;

      &.active {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 25px;
        border: none;
      }

      .show-icon {

        &:before {
          content: '\f067';
          font-family: FontAwesome;
          color: $main-color;
          font-size: 12px;
          @include transition(all, 0.5s, ease);
        }

      }


      &[aria-expanded="true"] {


        .show-icon {

          &:before {
            content: '\f068';
          }

        }

      }




    }
  }

  .destination-card {

    &:hover {
      .image-wrapper {
        transform: scale(1.2);
      }
    }

    .icon {
      width: 45px;
      margin-bottom: 15px;
    }

    .text-wrapper {
      bottom: 0px;
      height: 100%;
      @extend .display-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10%;

      .country {
        margin: 0px;
      }

      .name {
        font-weight: 700;
        font-style: italic;
      }
    }

  }




  .category-box {
    text-align: center;
    padding: 30px 20px;
    border: 1px solid #d8d8d8;
    box-shadow: 0px 0px 20px 0px #d8d8d8;
    height: 100%;
    position: relative;
    overflow: hidden;

    .icon {
      width: 50px;
      margin-bottom: 20px;
    }

    .name {
      font-size: 14px;
      margin-bottom: 0px;
      line-height: 20px;
    }

    &:hover {

      .hoverlay {
        top: 0px
      }
    }

    .hoverlay {
      position: absolute;
      top: -100%;
      left: 0px;
      height: 100%;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      @extend .display-flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background: rgba($main-color-dark, .6);
      @include transition(all, 0.5s, ease);

      .btn {
        margin-bottom: 0px;
      }
    }

  }


}