



.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.font-bold {
  font-weight: 700;
}

body.modal-open {
  overflow: visible;
}


// NAVBAR
nav.navbar {
  z-index: 1000;
  width: 100%;
  background: #f2f2f2;
  @include transition(all, 0.5s, ease);

  &.transparent {
    background: rgba(#f2f2f2, .5);
    position: absolute;
  }

  &.active {
    position: fixed;
    background: #f2f2f2;

    .navbar-brand {
      .logo {
        width: 50px;
      }
    }
  }

  .brand-wrapper {
    @extend .display-flex
  }


  .navbar-brand {
    margin-right: 30px;

    .logo {
      width: 75px;
      @include transition(all, 0.5s, ease);
    }
  }

  .navbar-nav {
    .nav-item {

      .nav-link {
        padding-left: 15px;
        padding-right: 15px;
        @include transition(all, 0.5s, ease);

        &:hover {
          color: $main-color;
          font-weight: 700;
        }

        &.active {
          color: $main-color;
          font-weight: 700;
        }
      }

      .nav-btn {
        margin: 0px 15px;
      }
    }
  }


}
// NAVBAR



// Slider
.slider {



}
// Slider


// FOOTER
#footer {
  background: $main-color-dark;
  color: white;
  font-size: 12px;

  p {
    font-size: 12px;
    margin-bottom: 3px;
  }

  .col-wrapper {
    padding: 25px 0px;
    @extend .display-flex;
    justify-content: space-between;
  }


  .info-wrapper {
    @extend .display-flex;

    ul {
      padding-left: 25px;
      margin-bottom: 0px;

      li {
        margin-bottom: 2.5px;
      }

      a {
        color: white;
        font-weight: 700;
      }
    }
  }


  .copyright {
    border-top: 1px solid #ffffff6e;
    padding: 10px;
    text-align: center;
  }

}
// FOOTER


.socmed-wrapper {
  margin: 0px;
  @extend .display-flex;

  .item {
    margin-right: 7.5px;
  }

  .link {
    width: 30px;
    height: 30px;
    background: $secondary-color;
    border-radius: 50px;
    color: $main-color-dark;
    @extend .display-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    &.light {
      background: $main-color-light;
      color: white;
    }
  }
}

.destination-card {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  max-height: 200px;

  &:hover {

    .image-wrapper {
      transform: scale(1.2);
    }
  }

  .icon {
    width: 45px;
    margin-bottom: 15px;
  }

  .image-wrapper {
    @include transition(all, 0.5s, ease);

    img {
      min-height: 200px;
    }
  }

  .place {
    font-family: 'TimmanaRegular';
    font-size: 28px;
    margin-bottom: 0px;
  }

  .text-wrapper {
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    background: #5757575c;
    bottom: 0px;
    height: 100%;
    @extend .display-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;


    @include transition(all, 0.5s, ease);

    .country {
      margin-bottom: 0px;
      @include transition(all, 0.5s, ease);
    }

    .link-caret {
      color: white;
    }

    .name {
      font-weight: 700;
      font-style: italic;
    }
  }
}


.testimonial-section {

  &.text-center {
    .lSSlideOuter .lSPager.lSpg {
      text-align: center;
    }
  }

  .lSSlideOuter .lSPager.lSpg {
    text-align: left;

    &>li {

      a {
        background-color: #c8ccc6;
        width: 35px;
        height: 3px;
      }

      &.active a {
        background-color: #6c8171;
      }

      &:hover a {
        background-color: #6c8171;
      }
    }
  }
}

#testimonial-slider, .testimonial-slider{

  .testi {
    line-height: 30px;
    margin-bottom: 20px;
  }

  .owner {
    color: $main-color;
    font-size: 18px;
  }
}


.pals-gallery {


  .prev {
    position: absolute;
    bottom: -55px;
    left: 37%;
  }

  .next {
    position: absolute;
    bottom: -55px;
    right: 37%;
  }


}


.default-banner {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  padding: 50px 0px 10px;
  min-height: 175px;


  .inline-wrapper {
    @extend .display-flex;
    align-items: center;
    justify-content: space-between;
    color: white;


    .title {
      font-family: 'TimmanaRegular';
      font-size: 56px;
      margin-bottom: 15px;
      margin-top: 30px;

      @include breakpoint('breakpoint-sm', 'max-width'){
        font-size: 36px;
      }
    }

    .subtitle {
      font-size: 18px;
      width: 50%;
      margin-bottom: 0px;
    }

    .anchor-list {
      @extend .display-flex;
      list-style: none;
      margin: 0px;
      padding: 10px 0px;
      border-top: 2px solid;
      border-bottom: 2px solid;

      li {

      }

      .anchor {
        padding: 10px;
        color: white;
        font-size: 13px;
        font-weight: 500;
      }

    }
  }

}


.default-card {
  text-align: center;

  &.service-card {
    @extend .display-flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &.pals-card {
    .title {
      margin-bottom: 0px;
    }

    .subtitle {
      margin-bottom: 20px;
    }


  }

  .image-wrapper {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;

    &:hover {

      .hoverlay {
        opacity: 1;
      }
    }

    .hoverlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      border-radius: 50%;
      @extend .display-flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      @include transition(all, 0.5s, ease);

      .icon {
        width: 60px;
      }
    }
  }

  .title {
    color: $main-color;
    margin-bottom: 10px;
  }

  .summary {
    font-size: 12px;
  }
}

.cta-section {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  padding: 30px 0px;
  text-align: center;


  .icon {
    width: 50px;
  }

  h2 {
    color: $main-color;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .btn {
    margin: 0px 15px;
  }
}



#menu-icon {
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;



  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $main-color;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2), &:nth-child(3) {
      top: 10px;
    }

    &:nth-child(4) {
      top: 20px;
    }
  }

  &.open {

    span {


      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

    }

  }

}

.nav-spacer {
  padding-bottom: 0px;
}


// RESPONSIVE
@media screen and (max-width: 480px) {

  .pals-gallery {

    .next {
      right: 32%;
    }

    .prev {
      left: 32%;
    }
  }


  .destination-card {
    max-height: none;
  }

  .default-banner {
    padding: 20px 0px;
  }

  .nav-spacer {
    padding-bottom: 80px;
  }


  nav.navbar {
    position: fixed;
    padding: 0px;

    .brand-wrapper {
      padding: 5px 15px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      background: white;
    }

    .navbar-brand {
      .logo {
        width: 65px;
      }
    }

    &.transparent {
      background: #f2f2f2;
      position: fixed;
    }

    .navbar-collapse {
      padding: 20px 15px;
    }

    .navbar-toggler {
      outline: none;
    }
  }


  #footer {
    .col-wrapper {
      flex-direction: column;

      .item {
        margin-bottom: 15px;

        .info-wrapper {
          flex-direction: column;
        }
      }
    }
  }

}





















