


.slick-slide {
  &:focus {
    outline: none;
  }
}

.slick-dots {
  bottom: -50px;

  li {
    background: rgba(white, .5);
    width: 10px;
    height: 10px;
    border-radius: 50%;

    &.slick-active {
      background: $secondary-color;
    }
  }
}

.default-section {
  padding: 50px 0px;

  &.secondary {
    background: $secondary-bg;
  }

  &.third {
    background: $third-bg;
  }

  &.with-bg {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }

  &.normal {
    > .container {
      padding: 0px 15px;
    }
  }

  > .container {
    padding: 0px 50px;

    @include breakpoint('breakpoint-sm', 'max-width'){
      padding: 0px 15px;
    }
  }
}

.secondary-section {
  padding: 50px 0px;
  background: #e6f1ee;
}

.default-title {
  font-size: 34px;
  color: $main-color;
  margin-bottom: 15px;
  font-weight: 300;

  &.secondary {
    color: $secondary-color;
  }

  &.white {
    color: white;
  }

  &.small {
    font-size: 20px;
    font-weight: 600;
  }
}


.form-title {
  font-size: 22px;
  color: $main-color;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 600;
}

.default-subtitle {
  font-size: 20px;
  font-weight: 900;

  &.small {
    font-size: 21px;
  }

  &.secondary {
    color: $secondary-color;
  }

  &.white {
    color: white;
  }
}

.default-summary {
  line-height: 26px;

  &.white {
    color: white;
  }
}


.default-content-wrapper {
  line-height: 28px;
  margin-bottom: 50px;

  h3 {
    color: $main-color;
    font-weight: 600;
    font-size: 14px;
  }

}

.container {
  &.small {
    width: 65%;

    @include breakpoint('breakpoint-sm', 'max-width'){
      width: auto;
    }
  }
}



.gplus-hover {
  @include transition(all, 0.5s, ease);

  &:hover {
    color: $googleplus;
  }
}

.fb-hover {
  @include transition(all, 0.5s, ease);

  &:hover {
    color: $fb;
  }
}

.ig-hover {
  @include transition(all, 0.5s, ease);

  &:hover {
    color: $instagram;
  }
}

.twitter-hover {
  @include transition(all, 0.5s, ease);

  &:hover {
    color: $tw;
  }
}

.bold {
  font-weight: 900;
}


.share-wrapper {
  padding: 0px;
  margin: 0px;
  list-style: none;
  margin-bottom: 30px;
  font-size: 20px;
  @extend .display-flex;

  .item {
    margin-right: 20px;
  }
}


.side-wrapper {
  background: #f4eedf;
  padding: 10px 20px;
  font-weight: 700;
  min-height: 425px;

  p {
    margin-bottom: 25px;
  }

  label {
    margin-bottom: 0px;
    font-size: 16px;
    color: #9f7d5b;
  }

  .price {
    color: $main-color-light;
    font-size: 26px;
    margin-bottom: 0px;
  }
}


.label-form {
  color: $main-color;
  position: absolute;
  top: 0px;
  left: 1px;
  font-weight: 700;
  @include transition(all, 0.5s, ease);

  &.active {
    top: -15px;
  }
}

input {
  &.custom-control {
    height: 40px;
  }
}

.custom-control {
  border-radius: 0px;
  border-color: rgba($main-color, .3);
  align-items: center;

  &::-webkit-input-placeholder {
    font-style: italic;
  }
  &:-moz-placeholder {
    font-style: italic;
  }
  &::-moz-placeholder {
    font-style: italic;
  }
  &:-ms-input-placeholder {
    font-style: italic;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: rgba($main-color, .3);
  }

  &.custom-control-inline {
    margin-right: 20%;
  }

  .custom-control-label {
    font-size: 12px;
  }
}


.nav-custom-tabs {
  padding: 0px;
  margin: 0px;
  list-style: none;
  @extend .display-flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #d9dad9;
  margin-bottom: 20px;

  .item {
    padding: 5px 15px 0px;
    margin: 0px 15px;
    border-bottom: none;
    font-weight: 600;

    .nav-link {
      border: none;
      @include transition(all, 0.5s, ease);

      &.active {
        border-bottom: 3px solid $main-color;
        font-weight: 700;
      }
    }
  }
}



.inline-button-wrapper {
  @extend .display-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  .default-title {
    margin-bottom: 0px;
  }
}


.form-section {

  .header {
    font-size: 16px;
    color: $main-color;
    font-weight: 700;
  }

  .form-title {

    &:first-of-type {
      margin-top: 0px;
    }

  }

  form {
    padding: 30px 0px;

    .select2-container {
      box-shadow: none !important;
      outline: none !important;
    }

    .select2-container--default .select2-selection--single {
      height: 40px;
      border-color: rgba($main-color, .3);
      box-shadow: none !important;
      outline: none !important;

      .select2-selection__rendered {
        line-height: 40px;
      }

      .select2-selection__arrow {
        height: 40px;
      }
    }
  }

  .form-group {
    position: relative;
    margin-bottom: 40px;



    .input-group {

      .custom-control {
        border-right: none;
      }

      .input-group-prepend {


        .input-group-text {
          height: 40px;
          align-items: center;
          @extend .display-flex;
          font-size: 20px;
          background: white;
          color: $main-color-light;
          border-color: $main-color-light;
          border-left: none;
        }
      }

    }

  }

}


.icon-list {
  list-style: none;
  padding: 0px;
  margin: 0px;


  &.inclusion {
    li {
      &:before {
        content: '\f05d';
        font-family: 'FontAwesome';
        color: $main-color-light;
        font-size: 26px;
        margin-right: 20px;
      }

    }
  }

  &.exclusion {
    li {
      &:before {
        content: '\f05c';
        font-family: 'FontAwesome';
        color: $color-error;
        font-size: 26px;
        margin-right: 20px;
      }

    }
  }

  li {
    @extend .display-flex;
    align-items: center;
    line-height: 32px;
  }

}


.hidden {
  display: none;
}