#how {



  .step-wrapper {
    padding: 15px 0px;

    .num-label {
      font-size: 50px;
      margin-bottom: 0px;
      font-weight: 700;
      color: $main-color-light;
    }

    .step-name {
      color: $main-color;
      margin-bottom: 15px;
    }

    .step-detail {
      line-height: 26px;
    }


  }


}