.modal {

  .body-wrapper {
    text-align: center;
    padding: 50px 0px 15px;

    .icon {
      width: 110px;
      margin-bottom: 15px;
    }

    .summary {
      margin-bottom: 30px;
    }

    .text-btn {
      color: #a2a1a1;
      justify-content: center;
      margin-bottom: 30px;
    }

    .share-wrapper {
      margin-bottom: 0px;
      justify-content: center;

      .item {
        padding: 0px 15px;
        margin: 0px;
      }
    }

    .small-text {
      font-size: 12px;
      margin-bottom: 0px;
    }
  }


  .booking-result {
    padding-left: 30px;
    padding-right: 30px;

    .icon {
      width: 75px;
      margin-bottom: 15px;
    }

    .table {
      border: 2px solid #93c1c6;
      text-align: left;
      margin-bottom: 50px;

      strong {
        font-weight: 700;
      }

      td, th {
        border-top: none;
        padding: 10px 15px;
      }

      thead {
        background: #93c1c6;
        color: white;
        font-size: 22px;

        tr {
          th {
            padding: 10px 15px;
            border-bottom: none;
          }
        }
      }

      tbody {
        border-left: 1px solid #93c1c6;
        border-right: 1px solid #93c1c6;

        tr {

          td {
            &:last-of-type {
              font-weight: 700;
            }
          }

          &:first-of-type {
            td {
              padding-top: 30px;
            }
          }

          &:last-of-type {
            td {
              padding-bottom: 30px;
            }
          }

        }

        td {
          padding: 5px 15px;
        }
      }

      tfoot {
        background: #93c1c6;
        color: white;
        font-size: 18px;

        .col-footer {
          @extend .display-flex;

          .col-half {
            width: 50%;
          }
        }

      }
    }

  }

}

#quickViewModal {

  .body-wrapper {
    text-align: left;
  }

  .title {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
    color: $main-color;
  }

  .subtitle {
    margin-bottom: 10px;
  }
}


#buyEssentialModal, #paymentModal {

  .modal-body {
    padding: 15px 10%;
  }

  .body-wrapper {
    padding-top: 25px;
    text-align: left;

    .default-title {
      font-size: 18px;
      font-weight: 500;
    }

    .form-section {

      .form-group {
        margin-bottom: 25px;
      }

      .form {
        padding-top: 15px;
      }
    }
  }

}


#paymentModal {

  .method-box {
    @extend .display-flex;
    align-items: center;
    justify-content: space-between;
    padding: 7.5px 20px;
    border: 1px solid;
    cursor: pointer;
    margin-bottom: 15px;
    @include transition(all, 0.5s, ease);

    &:hover {
      background: $main-color;
      color: white;
    }

    .icon {
      width: auto;
      font-size: 32px;
      margin-bottom: 0px;
    }

    .left {
      @extend .display-flex;
      align-items: center;

      .icon {
        margin-right: 10px;
      }

      .name {
        font-weight: 700;
      }
    }
  }

  .method-section {
    display: none;

    &.active {
      display: block;
    }
  }
}


@media (min-width: 992px) {
  .modal-lg {
    max-width: 700px;
  }
}
